<div class="addButton">
  <div class="row">
    <div class="col-lg-6">
      <button routerLink="/addBook" class="btn btn-dark">{{'english.addButton' | translate}}</button>
    </div>
    <div class="col-lg-3">
      <input
        class="form-control"
        type="text"
        placeholder="Search By Title"
        aria-label="Search"
        [(ngModel)]="searchText"
      />
    </div>
    <div class="col-lg-3">
      <form [formGroup]="searchByCategory" novalidate></form>
      <select
        formControlName="category"
        class="form-control"
        name="category"
        [(ngModel)]="searchCategory"
        (click)="findBookByCategory($event)"
      >
        <option value="" disabled>Please choose a category</option>
        <option
          value="{{ category.id }}"
          *ngFor="let category of categories; let i = index"
        >
          <p>{{ category.title }}</p>
        </option>
      </select>
    </div>
  </div>
</div>

<div class="tableStyle">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Thumbnail</th>
        <th scope="col">Action</th>
      </tr>
    </thead>

    <tbody *ngIf="loadedBooks.length >= 1">
      <tr
        *ngFor="
          let book of loadedBooks
            | filter: searchText
            | filter: searchCategory
            | paginate: { itemsPerPage: 5, currentPage: page };
          let i = index
        "
      >
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ book.title }}</td>
        <td style="text-align: center">
          <img
            class="previewImg"
            [src]="book.thumbnail === null ? previewImg : book.thumbnail"
            *ngIf="book.thumbnail"
          />
        </td>
        <td style="text-align: center">
          <button
            [routerLink]="['/book', book.id]"
            type="button"
            class="btn btn-primary"
          >
            View
          </button>
          &nbsp;
          <button
            [routerLink]="['/editBook', book.id]"
            type="button"
            class="btn btn-warning"
          >
            Edit
          </button>
          &nbsp;
          <button
            (click)="deleteBook(book.id)"
            type="button"
            class="btn btn-danger"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <h3 *ngIf="loadedBooks.length < 1">No Book is Available</h3>

  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
