<div class="addButton">
    <button routerLink="/addCategory" class="btn btn-dark">Add Category</button>
  </div>
  
  <table class="table table-bordered tableStyle">
    <thead>
      <tr style="text-align: center">
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody *ngIf="categories.length >= 1">
      <tr *ngFor="let category of categories; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{category.title}}</td>
        <td style="text-align: center">
          <button [routerLink]="['/editCategory', category.id]" type="button" class="btn btn-warning">Edit</button>
          &nbsp;
          <button (click)="deleteCategory(category.id)" type="button" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <h3 *ngIf="categories.length < 1">No Category is Available</h3>
