<div class="container">
    <br />
    <form [formGroup]="addBookForm" (ngSubmit)="onSubmit()" novalidate>
      <label for="inputEmail4">Title</label>
      <div class="form-row">
        <div class="form-group col-md-12">
          <input
            type="text"
            class="form-control"
            formControlName="title"
            id="inputEmail4"
            placeholder="Book Title"
          />
          <div *ngIf="!title.valid && (title.dirty || title.touched)">
            <div style="color: red" [hidden]="!title.errors.required">
              Title is required
            </div>
            <div style="color: red" [hidden]="!title.errors.maxlength">
              The maximum length is 100
            </div>
          </div>
        </div>
      </div>
  
  
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputEmail4">Choose Thumnail</label>
          <div style="text-align: center">
            <img class="previewImg" [src]="previewImg" *ngIf="previewImg" />
          </div>
          <br />
          <div class="input-group">
            <div class="custom-file">
              <input
                type="file"
                class="custom-file-input"
                id="inputGroupFile01"
                aria-describedby="inputGroupFileAddon01"
                (change)="onChange($event)"
              />
              <label class="custom-file-label" for="inputGroupFile01"
                >Choose file</label
              >
            </div>
          </div>
        </div>
      </div>
  
  
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputEmail4">Author</label>
          <input
            type="text"
            class="form-control"
            formControlName="author"
            name="author"
            placeholder="Author's Name"
          />
          <div *ngIf="!author.valid && (author.dirty || author.touched)">
            <div style="color: red" [hidden]="!author.errors.required">
              Author's name is required
            </div>
            <div style="color: red" [hidden]="!author.errors.maxlength">
              The maximum length is 100
            </div>
          </div>
        </div>
      </div>
  
      <!-- </div> -->
      <label for="inputCategory">Category</label>
  
      <div class="form-row">
        <div class="form-group col-md-12" >
          <select formControlName="category" class="form-control" name="category">
            <option value="" disabled>Please choose a category</option>
            <option
              value="{{ category.id }}"
              *ngFor="let category of categories; let i = index"
            >
              <p>{{ category.title }}</p>
            </option>
          </select>
          <div *ngIf="!category.valid && (category.dirty || category.touched)">
            <div style="color: red" [hidden]="!category.errors.required">
              Category is required
            </div>
          </div>
        </div>
      </div>
  
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="exampleFormControlTextarea1">Description</label>
          <textarea
            class="form-control"
            formControlName="description"
            name="description"
            rows="3"
          ></textarea>
          <div
            *ngIf="
              !description.valid && (description.dirty || description.touched)
            "
          >
            <div style="color: red" [hidden]="!description.errors.required">
              Description is required
            </div>
            <div style="color: red" [hidden]="!description.errors.maxlength">
              The maximum length is 250
            </div>
          </div>
        </div>
      </div>
  
      <div class="form-row">
        <div class="form-group col-md-12">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!addBookForm.valid"
            data-target="#showInfoModal"
          >
            Update Book
          </button>
        </div>
      </div>
      <br />
    </form>
  </div>
  
