<div style="width: 70%; margin: auto;" class="card ">
    <div class="card-header" style="text-align: center;">
      <h4>Add Category</h4>
    </div>
    <div class="card-body">
        <form [formGroup]="addCategoryForm" (ngSubmit)="onSubmit()" novalidate>
            <label for="inputEmail4">Title</label>
            <div class="form-row">
              <div class="form-group col-md-12">
                <input
                  type="text"
                  class="form-control"
                  formControlName="title"
                  id="inputEmail4"
                  placeholder="Category Title"
                />
                <div *ngIf="!title.valid && (title.dirty || title.touched)">
                  <div style="color: red" [hidden]="!title.errors.required">
                    Title is required
                  </div>
                  <div style="color: red" [hidden]="!title.errors.maxlength">
                    The maximum length is 100
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                  <button
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="!addCategoryForm.valid"
                    data-target="#showInfoModal"
                  >
                    Add Category
                  </button>
                </div>
              </div>
        </form>
    </div>
  </div>
