/* You can add global styles to this file, and also import other style files */
.title{
    margin: 3%;
    text-align: center !important;
}

.tableStyle{
    width: 80%;
    margin: auto;
}

.addButton{
    padding-bottom: 2%;
    width: 80%;
    margin: auto;
}

.previewImg{
    width: 300px;
    height: 225px;
    background-size: cover;
}

.paginationButton{
    margin: auto;
}

.viewBookImg{
    width: 50vw;
    margin: auto;
}
