<div class="card mb-3 viewBookImg">
    <img class="card-img-top" [src]="book.thumbnail" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Book Title : {{book.title}}</h5>
      <p class="card-text">Description : {{book.description}}</p>
      <p class="card-text">Author : {{book.author}}</p>
    </div>
</div>